# Web Server & Production
django
djangorestframework
django-cors-headers
gunicorn
whitenoise

# Base de données (MySQL/MariaDB)
mysqlclient
dj-database-url

# Authentification
djangorestframework-simplejwt

# Utilitaires (Gestion des images et environnement)
Pillow
django-filter
python-dotenv